@model ItemsListViewModel

<div class="container">
    <h1> @Model.CurrentCategory </h1>
    <div class="row">


        @foreach (var item in Model.Items)
        {<div class="col-lg-4 col-md-6 mb-4" id="categoryItem">
    <div class="card h-100">
        <img src="@item.ImageThumbnailUrl" alt="" id="itemThumbs" />
        <div class="card-body">
            <h4 class="card-title">
                <a href="#">@item.Name</a>
            </h4>
            <h5>@item.Price.ToString("c")</h5>
            <p>@item.ShortDescription</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
        </div>
    </div>
</div>
                }
            </div>
       
</div>
