@model ItemsListViewModel


    <h1> @Model.CurrentCategory </h1>
    @foreach (var item in Model.Items)
    {
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="card">
                <img src="@item.ImageThumbnailUrl" alt="" id="itemThumbs"/>
                
               
                <div class="caption">
                    <h3 class="float-right">@item.Price.ToString("c")</h3>
                    <h3>
                        <a>@item.Name</a>
                    </h3>
                    <p>@item.ShortDescription</p>
                </div>
            </div>
        </div>
    }

